@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300;1,600&display=swap');
body{padding: 0;margin: 0;font-family: 'Montserrat', sans-serif;}
.container{width:90%;max-width: 960px;margin:0 auto;}

header{padding:10px;}
header .grid{display: grid;grid-template-columns: 40px 50% 80px 40px 100px 20px;grid-gap: 10px;}

header input[name="mode"]{display: none;}
header input[name="mode"] ~ label{width:100%;height:40px;border-radius: 50px;position: relative;display: block}
header input[name="mode"] ~ label:hover{cursor:pointer;}
header input[name="mode"] ~ label:after{content:'';position:absolute;top:5px;left:5px;width:30px;height: 30px;border-radius: 30px;transition: all 100ms ease-in;}
header input[name="mode"] ~ label:before{content:'DARK';position:absolute;top:5px;left:45px;transition: all 100ms ease-in;}
header input[name="mode"]:checked ~ label:after{content:'';position:absolute;top:5px;left:45px;}
header input[name="mode"]:checked ~ label:before{content:'LIGHT';left:5px;}

header input[name="user_nav"]{display: none;}
header input[name="user_nav"] ~ label{}
header input[name="user_nav"]:checked ~ label{transform: rotate(-90deg);}
header input[name="user_nav"] .user_nav{opacity: 0;height: 0;transition: all 300ms ease-in;}
header input[name="user_nav"]:checked .user_nav{opacity: 1;height: 10vh;}

.glide__slides li{position:relative;height:60vh;overflow: hidden;font-size:7px;text-align: center;}
.glide__slides li p{font-size:7px;z-index: 10;position: relative;}
.glide__slides .today:before{content:"";position: absolute;top:5px;left: calc(50% - 25px);width: 50px;height:50px;border-radius:50px;z-index: 0;   }
.glide_arrows{position:absolute;top:0%;width:100%;}
.glide_arrows button{border-radius:25px;width: 25px;height: 25px;transition:all 300ms ease-in;}
.glide_arrows button:hover{cursor:pointer;}


.modal {display: none;position: fixed;z-index: 1; left: 0;top: 0;width: 100%;height: 100%;overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.modal-content {  background-color: #fefefe;  margin: 15% auto;  padding: 20px;  border: 1px solid #888;  width: 80%;}
.close {  color: #aaa;float: right; font-size: 28px;font-weight: bold;}
.close:hover,.close:focus {color: black;  text-decoration: none;  cursor: pointer;}
.modal input[type="text"]{width:100%;}
.modal input[type="date"]{width:100%;}
.modal input[type="submit"]{width:100%;}
.modal textarea{width:100%;resize:none;}